.git
.github
.gitignore

.env
.env.*
!.env.example
!.env.docker

vendor
node_modules

.phpunit.result.cache
.phpunit.cache
coverage

var/cache/*
var/log/*
var/sessions/*

.idea
.vscode
.codex
.cursor/
.nova
.phpunit.cache
.zed
*.swp
*.swo
**/*.md
.DS_Store

public/bundles/*
var/dbadmin/*
docker/dbadmin/*
docker/dbadmin-dev/*
